<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">

<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des Jeux</title>
</head>
<body>
	 <div th:replace="template">	</div> 

<div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
 <div class="card-header" th:if="${mode=='new'}"> Ajout des Jeux </div>
 <div class="card-header" th:if="${mode=='edit'}">Modification des Jeux
</div>
<div class="card-body">
 <form th:action="@{saveJeu}" method="post">
	 <div class="form-group">
<label class="control-label" hidden>ID Jeu :</label>
 <input type="hidden" name="idJeu" class="form-control"
th:value="${jeu.idJeu}" />
</div>

 <div class="form-group">
<label class="control-label">Titre Jeu :</label>
<input type="text" name="titre" class="form-control"
th:value="${jeu.titre}"  />
<span th:errors=${jeu.titre} class="text-danger"> </span>
 </div>
 <div class="form-group">
<label class="control-label">Taille Jeu :</label>
<input type="text" name="taille" class="form-control"
th:value="${jeu.taille}" />
<span th:errors=${jeu.taille} class="text-danger"> </span>

 </div>
 <div class="form-group">
 <label class="control-label">date création :</label>
<input type="date" name="dateCreation" class="form-control"
th:value="${jeu.dateCreation}" />
<span th:errors=${jeu.dateCreation} class="text-danger"> </span>

 </div>
 <div>
 <button type="submit" class="btn btn-primary">Valider</button>
 </div>
 </form>
</div>
 </div>
 </div>
 </div>
</body>
</html>